@import "materialize-css/dist/css/materialize.min.css";

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  background-color:#e8f5e9;
}

.header {
  text-align: center;
  font-size: 100px;
  color: #9575cd;
  
}

.card-title {
  text-align: center;
  color:white;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
 
}

.recipe-card {
  margin: 10px;
  width: 400px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

ol {
  list-style-type: none;
}




@media (max-width: 768px) {
 .recipe-container {
  flex-direction: column;
  }
 
 .recipe-card {
    margin: 10px;
    max-width: 90%;
  }
}


/*Nav */

.nav-wrapper {
  background-color: #81c784;
}

.nav-item{
  margin-right: 30px;
  font-size: 20px;
}

.nav-item:hover {
  color: #9575cd;
}

.brand-logo {
  height: 45px;
  margin: 5px;
}




