@import "materialize-css/dist/css/materialize.min.css";

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  background-color:#388e3c;
}

.header {
  text-align: center;
  font-size: 100px;
}

.card-title {
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
 
}

.recipe-card {
  margin: 10px;
  width: 400px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

ol {
  list-style-type: none;
}


.center-image{
  margin: auto;

}

@media (max-width: 768px) {
 .recipe-container {
  flex-direction: column;
  }
 
 .recipe-card {
    margin: 10px;
    max-width: 90%;
  }
}

