@import "materialize-css/dist/css/materialize.min.css";

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
}

.header {
  text-align: center;
}

.container {
  display: flex;
 
}

.card {

  margin: 10px;
  width: 500px;
}


ol {
  list-style-type: none;
}


.card-image {
  height: 150px;
  width: 100px;
  margin: auto;
  

}